In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import cleandata2

In [3]:
!python data.py

sys:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
missing vals before 0
missing vals after 153407

In [4]:
import pandas as pd

In [5]:
store = pd.read_csv("~/dsr/minichallenge/data/store.csv")

In [6]:
train = pd.read_csv("~/dsr/minichallenge/data/train.csv", low_memory=False)

In [7]:
newdf = train.merge(store,how='left',on='Store')

In [8]:
newdf

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,NaN,NaN,0.0,NaN,NaN,NaN
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637769,2014-07-31,752.0,4.0,7259.0,576.0,1.0,1.0,0,1.0,a,a,970.0,3.0,2013.0,1.0,31.0,2013.0,"Feb,May,Aug,Nov"
637770,2014-07-31,753.0,NaN,9938.0,796.0,1.0,1.0,0,1.0,d,c,540.0,11.0,2012.0,1.0,35.0,2010.0,"Mar,Jun,Sept,Dec"
637771,2014-07-31,754.0,4.0,10564.0,1162.0,1.0,1.0,0,NaN,c,c,380.0,5.0,2008.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
637772,2014-07-31,755.0,4.0,12302.0,1020.0,1.0,1.0,0,1.0,d,c,13130.0,12.0,2003.0,0.0,NaN,NaN,NaN
637773,2014-07-31,751.0,4.0,3913.0,539.0,1.0,1.0,0,1.0,a,a,650.0,10.0,2006.0,0.0,NaN,NaN,NaN

In [15]:
from cleandata2 import cleanData

In [16]:
cleanData(newdf)

Dropped rows without store-ids
Extracted year, month and day from Date
Extracted and reset day of week

/home/alex/dsr/minichallenge/cleandata2.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sales'][i] = 0
/home/alex/anaconda3/envs/minicomp/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Set Sales to 0 if customers are 0
Dropped 0-sales rows in df

/home/alex/dsr/minichallenge/cleandata2.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Open'][i] = 1

Set Open = 1 if Sales > 0
Filled school holidays based on state holidays
Public Holidays updated

/home/alex/dsr/minichallenge/cleandata2.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return row['Open']
/home/alex/dsr/minichallenge/cleandata2.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else:

Finished regional stateholidays
finished remaining stateholidays
Adjusted open status of shops according to state holidays
Finished filling in empty customers cells
Finish sales
State Holidays Encoded
PromoIntervals encoded
Store Type Encoded
Assortment Type Encoded